@CHARSET "UTF-8";
*         {text-indent:0px ; margin:0px ; padding:0px ; border:0px }
a         {color: white ; text-decoration:none ; display: block }
a:link    {}
a:visited {}
a:hover   {color:black ; text-decoration:none}
a:active  {}
input {border:1px solid #000 ; }
input:focus { border: 2px solid #000 ; background: #F3F3F3; }
legend {color:blue ; font-family: Verdana, Arial, Helvetica, sans-serif;}
body {background-color: #E6E6FA ; text-align:center }
p{text-align:justify }
h1 {font-size: 1.2em; color: green ; font-weight: bold ; text-decoration: underline ; text-align: center}
h2 {font-size:1.0em ; color: green ; font-weight: bold ; text-decoration: none ; text-align: center}
#global{width:800px; margin:10px auto}
#curva-superior{background-image:url(../objetos/curva-superior.gif) ; width:1000px ; height:12px; hidden:overflow ; background-repeat:no-repeat}
#cabecera { background-color:white; border-right:1px solid black;border-left:1px solid black ;height:95px }
#logotipo {background-color:white ;float: left}
#navegacion{background-color: green  ; border:1px solid black ; height:25px }
#navegacion li{float:left ; list-style:none ; margin:0px 10px 0px 10px ; font-family: "Times New Roman", Times, serif; font-size:20px}
#navegacion ul{margin-left:35px}
#navegacion a{color: white ; text-decoration:none}
#navegacion a:link{}
#navegacion a:visited{}
#navegacion a:hover{color:black ; text-decoration:none}
#navegacion a:active{}
#contenido{background-color: white ; border-right:1px solid black; border-left:1px solid black ; padding-bottom:20px ; height:500px}
#contenido p{padding:10px 15px 10px 15px ; text-indent:20px }
#menu{background-color: green ; width:180px ; float:left ; text-align:left ; margin:5px 15px 5px 5px ; border:3px solid orange}
#menu li{list-style:none ; margin:4px 0px 4px 6px ; font-size:20px ; font-family: "Times New Roman", Times, serif}
#menu h1{text-decoration:none ; font-size:20px ; color:white ; padding-top:4px}
#buscador{padding-top:10px}
#etiqueta{margin: .4em 0;}
#etiqueta label { width: 25% ; float: left ; color:green ; font-size:15px}
.btn {color:blue ; font-family: Verdana, Arial, Helvetica, sans-serif;}
#resultado{padding-top:20px}
#resultado h1{font-family: Verdana, Arial, Helvetica, sans-serif; color:blue ; font-size:15px ; text-decoration:none}
#pie{background-color:white; border-left:1px solid black ; border-right:1px solid black ; height:65px ; padding-top:10px ; border-top:1px solid black}
#pieuno  {background-color: white ; float:left ; width:150px}
#piedos  {background-color: white ; float:left ; width:498px}
#pietres {background-color: white   ; float: right ; width:150px}
#pie li{list-style:none ; font-size:12px ; margin:4px 0px 4px 0px}
#pie a{text-decoration:none ; color:green}
#curva-inferior{background-image:url(../objetos/curva-inferior.gif); width:800px; height:12px; background-repeat:no-repeat ; hidden:overflow}



